<div align="center">
    <h3>Please enter your details here</h3>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" validate>
        <div style="margin-top:5px;">
            <label>First Name</label>
            <br>
            <input type="text" ngModel name="fname" required>
        </div>
        <div style="margin-top:5px;">
            <label>Last Name</label>
            <br>
            <input type="text" ngModel name="lname" required>
        </div>
        <div style="margin-top:5px;">
            <label>Email</label>
            <br>
            <input type="email" ngModel name="email" required>
        </div>
        <div style="margin-top:5px;">
            <button type="submit">Start Exam</button>
        </div>
    </form>
    <a routerLink=""><< Back</a>
</div>